<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.laboratorio.hemope" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Diagnostico.DetalheDiagnosticoActivity"
            android:label="Detalhe Diagnostico"
            android:parentActivityName=".Diagnostico.DetalheDiagnosticoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.laboratorio.hemope.AcaoPrincipalActivity" />
        </activity>
        <activity
            android:name=".Paciente.DetalhePacienteActivity"
            android:label="@string/title_activity_detalhe_paciente"
            android:parentActivityName=".AcaoPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.laboratorio.hemope.AcaoPrincipalActivity" />
        </activity>
        <activity
            android:name=".AcaoPrincipalActivity"
            android:label="@string/title_activity_acao_principal"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".Amostra.DetalheAmostraActivity"
            android:label="@string/titulo_sessao_amostras"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.laboratorio.hemope.AcaoPrincipalActivity" />
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:label="Gerênciamento de Amostras"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Freezer.ListarFreezerActivity"
            android:label="@string/title_activity_listar_freezer" >
        </activity>
        <activity
            android:name=".Gavetas.ListaGavetasActivity"
            android:label="@string/title_activity_lista_gavetas" >
        </activity>
        <activity
            android:name=".Caixa.ListarCaixaActivity"
            android:label="@string/title_activity_listar_caixa" >
        </activity>
        <activity
            android:name=".Caixa.CaixaItemActivity"
            android:label="@string/title_activity_caixa_item" >
        </activity>
    </application>

</manifest>
